/* Register */

.formContainer {
  margin: 30px;
  margin-top: 100px;
  text-align: center;
}

.formContainer p {
  margin-top: 20px;
  display: inline-block;
}

.MyButton {
  background-color: rgb(33, 14, 237);
  margin: 10px;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: none;
}

.MyButton:hover {
  color: color;
  border: 2px solid black;
}

a:hover {
  color: white;
}

.formContainer input {
  width: 70%;
  text-align: center;
  margin: auto;
  border-radius: 23px;
  background-color: rgb(215, 197, 197);
}

.alertMessage {
  margin: 30px;
  background-color: red;
  color: white;
  display: table;
  padding: 10px;
}

.alertMessageBody {
  margin: 20px;
  background-color: green;
  color: white;
  display: table;
  padding: 10px;
}

.pageTitle {
  background-color: rgb(61, 106, 243);
  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 23px;
  font-size: large;
  padding: 10px;
  margin-top: 20px;
}

.codeCardContainer {
  margin-top: 20px;
}

.codeContainer {
  margin: 20px;
  margin-bottom: 40px;
}

.q_details {
  margin: 10px;
  background-color: skyblue;
  padding: 8px;
  color: white;
}

.homeContainer {
  margin: 60px;
}

.homeContainer p {
  font-size: 80px;
  color: white;
}

.homeContainer p span {
  text-decoration: underline;
  color: #4158d0;
  border-radius: 23px;
}

.homeContainer div {
  color: white;
  font-size: 20px;
}

.footer {
  color: rgb(226, 226, 226);
}

.footer:hover {
  color: white;
}
